description = "Producción Científica"

[viewBag]
==
<div class="container">
           <div class="center wow fadeInDown">
                <h2>Produción Científica</h2>
                <!--<p class="lead">La Universidad de El Salvador (UES) única Universidad Estatal del País, impulsa a través del consejo de Investigaciones Científicas (CIC_UES), mediante la Política de Investigación Científica y Tecnológica, el desarrollo de las Investigaciones en todas las áreas del Conocimiento que propicien la formación de recursos humanos capaces de impactar en el desarrollo científico y tecnológico de avanzada; e investigaciones que incluyan temáticas que respondan a necesidades críticas del País.</p>-->
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="{{ 'samples/trabajos-presentados'|page }}"><i class="fa fa-cogs" aria-hidden="true"></i></a>
                            <h2><a href="{{ 'samples/trabajos-presentados'|page }}">Trabajos Presentados</a></h2>
                            <h3>Trabajos presentados en Eventos Científicos</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="{{ 'samples/articulos-publicados'|page }}"><i class="fa fa-book fa-fw" aria-hidden="true"></i></a>
                            <h2><a href="{{ 'samples/articulos-publicados'|page }}">Artículos Públicados</<></h2>
                            <h3>6 Artículos en revistas Nacionales e Internacionales</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="{{ 'samples/reconocimientos-investigadores2004'|page }}"><i class="fa fa-trophy" aria-hidden="true"></i></a>
                            <h2><a href="{{ 'samples/reconocimientos-investigadores2004'|page }}">Reconocimiento a investigadores (as)</a></h2>
                            <h3>Reconocimiento a la investigación (2003-2004)</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                           <a href="{{ 'samples/directorio-investigadores'|page }}"><i class="fa fa-users" aria-hidden="true"></i></a>
                            <h2><a href="{{ 'samples/directorio-investigadores'|page }}">Directorio Investigadores</a></h2>
                            <h3>Búsqueda de Investigadores (as) por área del conocimiento</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="http://www.minerva.sic.ues.edu.sv" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
                            <h2><a href="http://www.minerva.sic.ues.edu.sv" target="_blank">Revista Minerva</a></h2>
                            <h3>Da inicio en abril del año 2002 conducido por el CIC-UES</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href="{{'samples/epi-sic'|page}}"><i class="fa fa-bullhorn"></i></a>
                            <h2><a href="{{'samples/epi-sic'|page}}">Divulgación</a></h2>
                            <h3>Programa de televisión de la Investigacíon Cientifica</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->