description = "Menu descargas de Documentos"

[viewBag]
==
<div class="widget archieve">
                        <h3>DOCUMENTOS</h3>
                        <div class="row">
<div class="col-sm-12">
	<ul class="blog_archieve">
	        <li><a href="{{ 'samples/memoria-labores'|page }}"><i class="fa fa-download" aria-hidden="true"></i> Memorias de Labores <span class="pull-right">(1)</span></a></li>
	        <li><a href="{{ 'samples/informes'|page }}"><i class="fa fa-download" aria-hidden="true"></i> Informes y Documentos <span class="pull-right">(3)</a></li>
	        <li><a href="{{ 'samples/proyectos-aprobados'|page }}"><i class="fa fa-check-square-o"></i> Proyectos Aprobados <span class="pull-right">(2002-2015)</a></li>
	         <li><a href="{{ 'samples/aprobados-y-finalizados'|page }}"><i class="fa fa-bar-chart"></i> Proyectos Aprobados <span class="pull-right">(Gráficos 2002-2015)</a></li>
	        <!--<li><a href="{{ 'samples/inversion'|page }}"><i class="fa fa-download" aria-hidden="true"></i> Inversión Proyectos <span class="pull-right">(2002-2003)</a></li>-->
	        <li><a href="{{ 'samples/eventos'|page }}"><i class="fa fa-download" aria-hidden="true"></i> EVENTOS <span class="pull-right">(Talleres, Conferencias, etc.)</a></li>
	        </ul>
</div>
</div>
</div>