description = "menu de Miguel Sermeno"

[viewBag]
==
<div class="widget archieve">
                      	<table class="table">
            						<thead>
            							<tr>
            								<th>
            									Resumen
            								</th>
            								<th>
            									Detalles
            								</th> 
            							</tr>
            						</thead>
            						<tbody>
            						<tr>
            								<td>
            									Producción Científica
            								</td>
            								<td>
            									<ol>
            									<li>Trabajos presentados:</li>
            									<li>Artículos publicados:</li>
            									<li>Investigaciones premiadas:</li>
            									<li>Proyectos ejecutados con SIC-UES:</li>
            									</ol>
            								</td>
            							</tr>
                                        <tr>
                							<td>
            									Publicaciones
            								</td>
            								<td>
            									<strong>80</strong>
            								</td>
            							</tr>
                                        <tr>
                							<td>
            									Manuales Técnicos
            								</td>
            								<td>
            							     <ol>
            							     	<li>Publicados: <strong>18</strong></li>
            							     	<li>Edición de Documentos Técnicos: <strong>8</strong></li>
            							     </ol>
            								</td>
            							</tr>
            						</tbody>
            					</table>
                    </div><!--/.producción científica-->
              
                    <div class="widget categories">
                        <h3>Cronología Directores</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
    								<a href="{{'samples/miguel-sermeno'|page}}"><img src="{{ 'assets/images/blog/ingsermeno.png'|theme }}" alt=""></a>
    								<p> Ing. MSc., José Miguel Sermeño <br> Director Ejecutivo del CIC-UES</p>
                                    <div class="entry-meta small muted">
                                        <span>Junio 2016 - Actual</span>
                                    </div>
    							</div>
    							<div class="single_comments">
    								<img src="{{ 'assets/images/blog/ingportillo.png'|theme }}" alt="">
    								<p>Ing. Ramon Portillo <br> Ex Director del CIC-UES </p>
    								<div class="entry-meta small muted">
                                       <span>Período 2010 - 2015</span>
                                    </div>
    							</div>
    							<div class="single_comments">
    								<a href="{{'samples/erlinda-handal'|page}}"><img src="{{ 'assets/images/blog/erlinda.png'|theme }}" alt=""></a>
    								<p>Dra. Herlinda Handal Vega <br>Ex Directora del CIC-UES </p>
    								<div class="entry-meta small muted">
                                        <span>Período 2001 - 2009</span>
                                    </div>
    							</div>
    							
                            </div>
                        </div>                     
                    </div><!--/.recent comments-->