description = "Centros e Institutos"

[viewBag]
==
<div class="container">
            <div class="center wow fadeInDown">
                <h2>Centros e Institutos</h2>
                <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="http://www.censalud.ues.edu.sv" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ 'assets/images/partners/logo-censalud.gif'|theme }}"></a></li>
                    <li> <a href="http://icmares.cimat.ues.edu.sv/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{ 'assets/images/partners/Logo-icmares.png'|theme }}"></a></li>
                </ul>
            </div>       
        </div><!--/.container-->