description = "Menu sobre CIC-UES y Cronología Directores"

[viewBag]
==
<div class="widget archieve">
                        <h3>SOBRE CIC-UES</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                 <li><a href="{{'samples/miembros-consejo'|page }}"><i class="fa fa-users" aria-hidden="true"></i> Miembros del Consejo <span class="pull-right">(13)</a></li>
                                 <li><a href="{{'samples/generalidades'|page }}"><i class="fa fa-outdent"></i> Generalidades <span class="pull-right"></a></li>
                                 <li><a href="{{'samples/funciones-del-cic-ues'|page }}"><i class="fa fa-cog"></i> Funciones del CIC-UES <span class="pull-right">(Art. 21)</a></li>
                                    <li><a href="{{ 'samples/cic-ues'|page }}"><i class="fa fa-gavel"></i> Políticas, Reglamento, Normas Técnicas <span class="pull-right">(3 Doc.)</span></a></li>
                                    <li><a href="{{'samples/articulos-publicados'|page }}"><i class="fa fa-cogs"></i> Producción Cientifica <span class="pull-right">(2002-2015)</a></li>
                                   <li><a href="{{'samples/proyectos-aprobados'|page }}"><i class="fa fa-check-square-o"></i> Proyectos Aprobados <span class="pull-right">(2002 - 2015)</a></li>
                                    <li><a href="{{'samples/eficiencia-terminal'|page }}"><i class="fa fa-bar-chart"></i> Eficiencia Terminal <span class="pull-right">(Gráfico 2002-2015)</a></li>
                                    <li><a href="{{'samples/inversion-proyectos'|page }}"><i class="fa fa-bar-chart"></i> Inversión Proyectos <span class="pull-right">(Gráfico 2002-2015)</a></li>
                                    </ul>
                            </div>
                        </div>                     
                    </div><!--/.producción científica-->
                    
                    <div class="widget categories">
                        <h3>Cronología Directores CIC-UES</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
    								<a href="{{'samples/miguel-sermeno'|page}}"><img src="{{ 'assets/images/blog/ingsermeno.png'|theme }}" alt=""></a>
    								<p> Ing. MSc., José Miguel Sermeño <br> Director Ejecutivo del CIC-UES</p>
                                    <div class="entry-meta small muted">
                                        <span>Junio 2016 - Actual</span>
                                    </div>
    							</div>
    							<div class="single_comments">
    								<img src="{{ 'assets/images/blog/ingportillo.png'|theme }}" alt="">
    								<p>Ing. Ramon Portillo <br> Director Ejecutivo del CIC-UES </p>
    								<div class="entry-meta small muted">
                                       <span>Período 2010 - 2015</span>
                                    </div>
    							</div>
    							<div class="single_comments">
    								<a href="{{'samples/erlinda-handal'|page}}"><img src="{{ 'assets/images/blog/erlinda.png'|theme }}" alt=""></a>
    								<p>Dra. Erlinda Hándal Vega <br>Directora Ejecutiva del CIC-UES </p>
    								<div class="entry-meta small muted">
                                        <span>Período 2001 - 2009</span>
                                    </div>
    							</div>
    							
                            </div>
                        </div>                     
                    </div><!--/.recent comments-->