description = "Otros portales de la Secretaría"

[viewBag]
==
<div class="container">
            <div class="center wow fadeInDown">
                <h2>Centros e Institutos de la Universidad de El Salvador</h2>
                <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <a href="https://sic.ues.edu.sv/miembros-del-consejo"><img class="img-responsive" src="{{ 'assets/images/services/entorno.png'|theme }}"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">CIC-UES</h3>
                            <p align="center">Consejo de Investigaciones Científicas de la Universidad de El Salvador</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <a href="http://www.censalud.ues.edu.sv/" target="_blank"><img class="img-responsive" src="{{ 'assets/images/services/entorno.png'|theme }}"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">CENSALUD</h3>
                            <p align="center">Centro de Investigación y Desarrollo en Salud</p>
                        </div>
                    </div>
                </div>  

<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <a href="http://icmares.cimat.ues.edu.sv/" target="_blank"><img class="img-responsive" src="{{ 'assets/images/services/icmares.png'|theme }}"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">ICMARES</h3>
                            <p align="center">Instituto de Ciencias del Mar y Limnología de la Universidad de El Salvador | Facultad de Ciencias Naturales y Matemática</p>
                        </div>
                    </div>
                </div>
<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <a href="http://icmares.cimat.ues.edu.sv/" target="_blank"><img class="img-responsive" src="{{ 'assets/images/services/entorno.png'|theme }}"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">VULCANOLOGIA</h3>
                            <p align="center">Instituto de Vulcanología de la Universidad de El Salvador</p>
                        </div>
                    </div>
                </div>                
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->