description = "UES Entorno Productivo"

[viewBag]
==
<div class="get-started center wow fadeInDown">
                <h2>CONVOCATORIA N° 16, AÑO 2017</h2>
                <p class="lead">Registro de proyectos de investigación, en el Sistema de Información de la Producción Científica de la Universidad de El Salvador "SIPC-UES"</br>Inicia: Lunes 13 de febrero | Finaliza: Viernes 14 de abril (Prórroga hasta el 31 de Mayo de 2017)</p>
                <p>Importante: <i class="fa fa-download" aria-hidden="true"></i> <a href="{{'storage/app/media/Convocatoria2017.pdf'}}">Convocatoria 2017</a> | <i class="fa fa-download" aria-hidden="true"></i>  <a href="{{'storage/app/media/normastecnicas.pdf'}}"> Normas Técnicas</a>  | <i class="fa fa-download" aria-hidden="true"></i>  <a href="{{'storage/app/media/guia-protocolo-investigacion.docx'}}"> guia-protocolo-investigacion.docx</a> | <i class="fa fa-download" aria-hidden="true"></i> <a href="{{'storage/app/media/reglamento-general-viaticos.pdf'}}"> Reglamento general de viáticos</a> </p>
                <div class="request">
                    <h4><a href="{{'samples/convocatoria2017'|page}}">Registro de proyecto</a></h4>
                </div>
            </div><!--/.get-started-->