<!--************************************
				Footer Start
		*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-signupbox">
        <div class="container">
            <div class="tg-signuptextbox">
                <h3>Free Signup!</h3>
                <div class="tg-description"><p>Subscribe Monthly Newsletter &amp; Get Latest New &amp; Updates.</p></div>
            </div>
            <form class="tg-formtheme tg-formsignupfree">
                <fieldset>
                    <div class="form-group"><input type="text" name="emailid" class="form-control" placeholder="Enter Email ID"></div>
                    <div class="form-group"><button type="submit" class="tg-btn">Signup Now</button></div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="tg-footermiddlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget tg-widgetcompanyinfo">
                        <div class="tg-widgetcontent">
                            <strong class="tg-logo"><a href="index-2.html"><img src="{{ 'assets/images/logo2.png'|theme}}" alt="image description"></a></strong>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor inunt labore... <a href="">Read More</a></p>
                            </div>
                            <ul class="tg-infolist">
                                <li>
                                    <i class="icon-location"></i>
                                    <address>Abc, xyz street London, HG521A</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>0800 - 1234 - 562 - 6</span>
                                </li>
                                <li>
                                    <i class="icon-printer"></i>
                                    <span>+4 1234 567 - 9</span>
                                </li>
                                <li>
                                    <a href="mailto:query@domain.com">
                                        <i class="icon-envelope"></i>
                                        <span>query@domain.com</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li class="tg-googleplus"><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li class="tg-rss"><a href=""><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget tg-widgettweets">
                        <div class="tg-widgettitle">
                            <h3>Latest Tweets</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li>
                                    <p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p>
                                    <span><a href="mailto:http://www.domainurl.com">http://www.domainurl.com</a></span>
                                    <time datetime="2017-01-01">2 hours ago</time>
                                </li>
                                <li>
                                    <p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p>
                                    <span><a href="mailto:http://www.domainurl.com">http://www.domainurl.com</a></span>
                                    <time datetime="2017-01-01">3 hours ago</time>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget tg-widgetcoursecategories">
                        <div class="tg-widgettitle">
                            <h3>Course Categories</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li><a href="">Perspiciatis ate</a></li>
                                <li><a href="">Aomnis isteat</a></li>
                                <li><a href="">Canatus error</a></li>
                                <li><a href="">Voluptatem clu</a></li>
                                <li><a href="">Commodo</a></li>
                                <li><a href="">Consequat</a></li>
                                <li><a href="">Duis aute</a></li>
                                <li><a href="">Aincididunt</a></li>
                                <li><a href="">Alter veritatis</a></li>
                                <li><a href="">Tempora Incid</a></li>
                                <li><a href="">Dolore Magnam</a></li>
                                <li><a href="">Aliquam Quaerat</a></li>
                                <li><a href="">Quisquam</a></li>
                                <li><a href="">Voluptatem</a></li>
                                <li><a href="">Aliquip</a></li>
                                <li><a href="">Adipisicing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget tg-widgetflickrgallery">
                        <div class="tg-widgettitle">
                            <h3>Flickr Gallery</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-10.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-11.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-12.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-13.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-14.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-15.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-16.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-17.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-18.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-19.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-20.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="{{ 'assets/images/glance/img-21.jpg'|theme}}" alt="image description"></a>
                                        <figcaption><a href="#"><i class="fa fa-mail-forward"></i></a></figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="tg-copyright">Copyright &copy; 2017 All Rights Reserved</span>
                    <nav class="tg-addnav">
                        <ul>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Term and Conditions</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->