<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget">
            <div class="tg-widgetcontent">
                <form class="tg-formtheme tg-formsearch">
                    <fieldset>
                        <input type="search" name="search" class="form-control" placeholder="Start Your Search Here">
                        <button type="submit" class="tg-btnsearch"><i class="icon-magnifier"></i></button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="tg-widget tg-widgetnoticeboard">
            <div class="tg-widgettitle">
                <h3>Notice Board</h3>
            </div>
            <div class="tg-widgetcontent">
                <ul>
                    <li>
                        <a href="">Adipisicing elit sed dotas eiusmod tempor incididunt utae labore etiat dolore magna aliqua enim ad minim veniam.</a>
                    </li>
                    <li>
                        <a href="">Labore etiat dolore magna aliqua enim ad minim veniam.</a>
                    </li>
                    <li>
                        <a href="">Duis aute irure dolor in reprehenderit.</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tg-widget tg-widgetadmissionform">
            <div class="tg-widgetcontent">
                <h3>Admission Form 2017</h3>
                <div class="tg-description">
                    <p>Quistane nostrud exertation ulamco laboris nisi ut aliquip ex ea comodo consequat aute irure dolor.</p>
                </div>
                <a class="tg-btn tg-btnicon" href="">
                    <i class="fa fa-file-pdf-o"></i>
                    <span>Download PDF</span>
                </a>
            </div>
        </div>
        <div class="tg-widget tg-widgetsearchcourse">
            <div class="tg-widgettitle">
                <h3>Search Course</h3>
            </div>
            <div class="tg-widgetcontent">
                <form class="tg-formtheme tg-formsearchcourse">
                    <fieldset>
                        <div class="tg-inputwithicon">
                            <i class="icon-book"></i>
                            <input type="search" name="keyword" class="form-control" placeholder="Keyword">
                        </div>
                        <div class="tg-inputwithicon">
                            <i class="icon-layers"></i>
                            <span class="tg-select">
														<select>
															<option value="">Course Category</option>
															<option value="">Course Category</option>
															<option value="">Course Category</option>
														</select>
													</span>
                        </div>
                        <button type="submit" class="tg-btn">search now</button>
                        <a href="">View All Courses</a>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="tg-widget tg-widgetdownload">
            <div class="tg-widgettitle">
                <h3>Downloads</h3>
            </div>
            <div class="tg-widgetcontent">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-paperclip"></i>
                            <span>Prospectus</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-map-signs"></i>
                            <span>Admission Guide</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-list-ul"></i>
                            <span>Merit List 2017</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-calendar-check-o "></i>
                            <span>Examination Date Sheet</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-bookmark-o"></i>
                            <span>Examination Guide 2017</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tg-widget tg-widgetcampuses">
            <div class="tg-widgettitle">
                <h3>Campuses</h3>
            </div>
            <div class="tg-widgetcontent">
                <div id="tg-campusslider" class="tg-campusslider owl-carousel tg-campuses">
                    <div class="item">
                        <div class="tg-campus">
                            <div class="tg-mapbox">
                                <div class="tg-campuslocation"></div>
                                <a class="tg-getdirection" href="">get direction</a>
                            </div>
                            <ul>
                                <li>
                                    <i class="icon-location"></i>
                                    <address>Abc, xyz street London, HG521A</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>0800 - 1234 - 562 - 6</span>
                                </li>
                                <li>
                                    <i class="icon-printer"></i>
                                    <span>+4 1234 567 - 9</span>
                                </li>
                                <li>
                                    <a href="mailto:query@domain.com">
                                        <i class="icon-envelope"></i>
                                        <span>query@domain.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:complaint@domain.com">
                                        <i class="icon-construction"></i>
                                        <span>complaint@domain.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-campus">
                            <div class="tg-mapbox">
                                <div class="tg-campuslocation"></div>
                                <a class="tg-getdirection" href="">get direction</a>
                            </div>
                            <ul>
                                <li>
                                    <i class="icon-location"></i>
                                    <address>Abc, xyz street London, HG521A</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>0800 - 1234 - 562 - 6</span>
                                </li>
                                <li>
                                    <i class="icon-printer"></i>
                                    <span>+4 1234 567 - 9</span>
                                </li>
                                <li>
                                    <a href="mailto:query@domain.com">
                                        <i class="icon-envelope"></i>
                                        <span>query@domain.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:complaint@domain.com">
                                        <i class="icon-construction"></i>
                                        <span>complaint@domain.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-campus">
                            <div class="tg-mapbox">
                                <div class="tg-campuslocation"></div>
                                <a class="tg-getdirection" href="">get direction</a>
                            </div>
                            <ul>
                                <li>
                                    <i class="icon-location"></i>
                                    <address>Abc, xyz street London, HG521A</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>0800 - 1234 - 562 - 6</span>
                                </li>
                                <li>
                                    <i class="icon-printer"></i>
                                    <span>+4 1234 567 - 9</span>
                                </li>
                                <li>
                                    <a href="mailto:query@domain.com">
                                        <i class="icon-envelope"></i>
                                        <span>query@domain.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:complaint@domain.com">
                                        <i class="icon-construction"></i>
                                        <span>complaint@domain.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>