[viewBag]
==
<div class="shadow"></div>
<div class="section frontpage-cta parallax-bg" data-parallax="scroll" data-image-src="{{ 'assets/images/samples/rural-enhanced-1.jpg' | theme }}" id="cta">
    <div class="container wow zoomIn description">
        <div class="description">
            <h2>SEGUIMIENTO DE PROYECTOS DE <em>INVESTIGACIÓN</em></h2>
            <p class="small">
                Otorgar el  <strong><em>Financiamiento</em></strong> para un proyecto no es suficiente.<br />
                <strong><em>Es también necesario</em></strong>  que éste se ejecute de manera correcta, en forma oportuna y en conformidad con los compromisos adquiridos por los investigadores.
            </p>
            <p>&nbsp;</p>
           
            {% content 'cta/content' %}
            <p>
                <a class="btn btn-primary-custom btn-margin-top btn-margin-bottom" href="{{'sicues/seguimiento-proyectos.htm' | page}}">Más información</a>
            </p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>