[viewBag]
==
<div class="shadow"></div>
<div class="section frontpage-cta parallax-bg" data-parallax="scroll" data-image-src="{{ 'assets/images/samples/station-enhanced-2.jpg' | theme }}" id="cta2">
    <div class="container wow zoomIn">
        <div class="description">
            <p>
                <h2>Investiga en <br />La <em>Universidad</em> de El Salvador</h2>
                
                {% content 'cta2/content' %}
                <p>&nbsp;</p>
                <p><a href="#" target="_blank" class="btn btn-primary-custom btn-margin-top"><strong>Más información</strong></a></p>
                <p>&nbsp;</p>
            </p>
        </div>
    </div>
</div>