[viewBag]
==
<div class="section bg-grey-light frontpage-4cols" id="4cols">
    <div class="container">
        <h2 class="wow zoomIn block-title">Organización de la Investigación Científica en la UES</h2>
        <div class="wow zoomIn text-center description">
            {% content 'features/content' %}
        </div>
        <div class="row cols">
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-users"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">línea prioritaria de investigación en: </a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>Seguridad alimentaria y nutricional</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-hand-paper-o"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">línea prioritaria de investigación en:</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>Violencia, seguridad y pobreza</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">En formulación</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-heart-o"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">línea prioritaria de investigación en:</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>Salud Pública en prevención, vigilancia y control epidemiológico, diagnóstico y tratamiento de la enfermedad</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">En formulación</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-icon wow fadeInUp">
                    <a class="icon" href="#">
                        <i class="fa fa-list-ul"></i>
                    </a>
                    <h4 class="title">
                        <a href="#">Áreas de investigación</a>
                    </h4>
                    <div class="body">
                        <p>
                            <p>se han definido áreas de investigación de acuerdo al manual de Frascati, contando  con  líneas  prioritarias  de  investigación...</p>
                        </p>
                    </div>
                    <div class="foot">
                        <a href="#" class="btn btn-inverse">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>