[viewBag]
==
<div class="section frontpage-content bg-white" id="welcome">
    <div class="container">
        <h2 class="block-title wow zoomIn">Bienvenidas (os) a la SIC UES</h2>
        <div class="wow fadeInUp description">
            {% content 'welcome/content' %}
            
            <p class="no-margin">
                <img src="{{ 'assets/images/samples/preview-2.jpg' | theme }}" class="img-responsive" />
            </p>
            <p>
                <a class="btn btn-primary-custom btn-margin-top" href="{{'sicues/sicues.htm' | page}}">Más sobre la SIC UES...</a>
            </p>
        </div>
    </div>
</div>